{
  "presets": [
    "react-app"
  ],
  "plugins": [
    [
      "styled-jsx/babel",
      {
        "plugins": [
          ["styled-jsx-plugin-sass", {
            "sassOptions": {
              "includePaths": ["./"],
              "precision": 2
            }
          }
          ]
        ]
      }
    ]
  ]
}
